<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :text_content %>
  </div>

  <div class="field">
    <p>Add Photo</p>
    <%= form.text_field :img_url %>
  </div>

  <div class="hidden-field">
    <%= hidden_field_tag "post[user_id]", current_user.id %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
