<p id="notice"><%= notice %></p>

<div class="single-post">

  <p>
    <h4> What's going down:</h4>
    <%= @post.text_content %>
  </p>

  <p>
    <h4>Pic:<h4>
    <%= @post.img_url %>
  </p>

  <% if @post.photo.attached? %>
    <image src="<%=(url_for(@post.photo))%>" width="200" height="200">
  <% end %>


  <p><strong>Posted By: </strong>
    <% user = User.find(@post.user_id)%>
    <%= user.name %>
  </p>

  <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <p><%= @post.bullshits.count %> <%= (@post.bullshits.count) == 1 ? 'Bullshit' : 'Bullshits bruh!!!'%></p>

  <%= button_to 'ðŸ˜‚', post_likes_path(@post), method: :post %>
  <%= button_to 'ðŸƒðŸ’©', post_bullshits_path(@post), method: :post %>

  <%= link_to 'Edit', edit_post_path(@post) %>
</div>
