<p id="notice"><%= notice %></p>

<p>
  <strong>What's going down::</strong>
  <%= @post.text_content %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @post.img_url %>
</p>

<p>
  Bruh<% @post.user_id %>
</p>

<%= button_to 'ðŸ˜‚', post_likes_path(@post), method: :post %>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Bruh' : 'Yes Bruhs'%></p>


<%= button_to 'ðŸƒðŸ’©', post_bullshits_path(@post), method: :post %>
<p><%= @post.bullshits.count %> <%= (@post.bullshits.count) == 1 ? 'Bullshit' : 'Bullshit bruh!!!'%></p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
