<section class="container" >
  <header class="header">
    <%# <h1>Welcome</h1>
    <h3>Ready to keep it real?</h3> %>
  </header>
 
  <%# <div><img src="https://emoji.gg/assets/emoji/1590_bruh.png" width="40%" height="40%" alt="bruh"></div> %>

  <%# <%= yield %> 

  <div id="all-posts">
    <% @posts.each do |post| %>
        <div class="single-post">
          <p>Text: <%= post.text_content %></p>
          <p>Picture: <%= post.img_url %></p>
          <p>Posted By: 
          <% user = User.find(post.user_id)%>
          <%= user.name %></p>
          <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Yes Bruh' : 'Yes Bruhs'%>
          <%= post.bullshits.count %> <%= (post.bullshits.count) == 1 ? 'Bullshit' : 'Bullshits'%></p>
          <p>
          <% if current_user.id === post.user_id %>
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
    <% end %>
  </div>

</section>
