
<div id="all-posts">
  <h1>Time line</h1>
  <% @posts.each do |post| %>
      <div class="single-post" id="post-<%= post.id %>">
        <h4><% user = User.find(post.user_id)%>
        <%= user.name %> says:</h4>
        <%= post.text_content %>
        <% if post.photo.attached? %>
        <div class="photo-container">
          <img class="photo-img" src="<%=(url_for(post.photo))%>">
        </div>
        <% end %>
        <%= post.img_url %>
        
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Yes Bruh' : 'Yes Bruhs'%>
        <%= post.bullshits.count %> <%= (post.bullshits.count) == 1 ? 'Bullshit' : 'Bullshits'%></p>
        <p>
        <%= link_to 'Open', post %>
        <% if current_user && current_user.id === post.user_id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>

        <%= button_to 'ðŸ˜‚', post_likes_path(post), method: :post %>
        <%= button_to 'ðŸƒðŸ’©', post_bullshits_path(post), method: :post %>
      </div>
  <% end %>
</div>


<section class="left-menu">
  <div>Profile</div>
  <div>Bruhs'</div>
  <div>item 1</div>
  <div>item 2</div>
  <div>item 3</div>
  <div>item 4</div>
  <div>item 5</div>
  <div>item 6</div>
</section>
