<!DOCTYPE html>
<html>
  <head>
    <title>Bruhbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:lightblue">

    <!--background-image:url(asset-path('./home/russia-flag.jpg')); -->
    <header style="text-align: center;">
    <h1>BruhBook<img src="https://emoji.gg/assets/emoji/1590_bruh.png" width="32px" height="32px" alt="bruh logo"></h1>
    <h3>The only place to keep it real</h3>
    <div class="login">
    <% if !logged_in? %>
      <%= link_to "Log In", login_path %>
      <%= link_to "Sign Up", signup_path %>
    </div>
    <% else %>
    <div class="log-out">
      What' up <%= @user.name %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    </div>
    <%end%>
    
      

    </header>

    
    <section class="container">
    <div class="left-img banner"></div>

    <section class="main-content" style="text-align: center;">
      <%= yield %>
    </section>


    <div class="right-img banner"></div>
    <footer>Bruhbook &reg; 2020</footer>
  </section>
</body>
</html>
