<!DOCTYPE html>
<html>
  <head>
    <title>Bruhbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<<<<<<< HEAD
  <body style="background-color:lightblue">
  <!--background-image:url(asset-path('./home/russia-flag.jpg')); -->
    <header>
    <h1>Bruhbook<img src="https://emoji.gg/assets/emoji/1590_bruh.png" width="64px" height="64px" alt="bruh"></h1>
    <h3>The only place to keep it real</h3>
    </header>
    <br>
    <br>

=======
  <body style='backgourd-color:blue'>
>>>>>>> 836f64a39f8721246073fdc9c15b7af48918b5e2
    <%= yield %>
  </body>
</html>
